.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
:root{
  --orange: #e79033;        /* cam đậm (header + nav) */
  --orange-light: #e6c2a0;  /* cam nhạt (footer) */
}

html, body, #root { height: 100%; margin: 0; }
.app-container { min-height: 100%; display: flex; flex-direction: column; }
.app-content { flex: 1; }

/* HEADER */
.header { background: var(--orange); padding: 24px 0 12px; }
.logo-wrap { background: #fff; display: inline-block; padding: 12px 18px; border-radius: 4px; }
.logo { max-height: 84px; display: block; }

/* NAV */
.topnav { background: var(--orange); border-top: 1px solid #f3caa0; }
.topnav .nav-line { text-align: center; padding: 8px 0; }
.topnav a {
  color: #fff; text-decoration: none; margin: 0 12px; font-weight: 500;
}
.topnav a:hover { text-decoration: underline; }

/* MAIN CONTENT */
.section { padding: 36px 0; background: #fff; }

/* FOOTER */
.footer { background: var(--orange-light); text-align: center; padding: 14px 0; }
.footer small { color: #3e3e3e; }


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
